@font-face {
    font-family: 'gooddogregular';
    src: url('/assets/gooddog-webfont.woff2') format('woff2'),
         url('/assets/gooddog-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_speakeasyoblique';
    src: url('/assets/sf_speakeasy_oblique-webfont.woff2') format('woff2'),
         url('/assets/sf_speakeasy_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sf_speakeasyregular';
    src: url('/assets/sf_speakeasy-webfont.woff2') format('woff2'),
         url('/assets/sf_speakeasy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}